
.header-container {
  display: flex;
  top: 0;
  justify-content: space-around;
  align-items: center;
  /*position: fixed;*/
  z-index: 1000;
  padding: 0 20px;
  border-bottom: 1px solid #e0e0e0;
}

.app-name {
  font-size: 3em;
  font-weight: bold;
  color: cadetblue;
  margin-left: 20px;
  cursor: pointer;
}

.group-button {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.rentals-button {
  height: 50px;
  font-size: 1.2em;
  background-color: #fff;
  color: cadetblue;
  border: 1px solid cadetblue;
  margin-bottom: 10px;
}

.login-button {
  height: 50px;
  font-size: 1.2em;
  background-color: cadetblue;
  color: #fff !important;
}


.login-button:hover {
  background-color: cadetblue;
  color: #fff;
}

