<form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
  <div class="search-components">
    <div class="search-table">
      <table>
        <tbody>
        <tr>
          <td>
            <mat-form-field appearance="outline" class="mat-form-custom" floatLabel="auto">
              <mat-label>Commune</mat-label>
              <input matInput placeholder="Commune"
                     formControlName="commune">
            </mat-form-field>
          </td>
          <td>
            <mat-form-field appearance="outline" class="mat-form-custom">
              <mat-label>Nombre couchages</mat-label>
              <input matInput placeholder="Nombres couchages"
                     formControlName="nbCouchagesMin"
                     type="number"
                     min="0"
                     max="20">
            </mat-form-field>
          </td>
          <td>
            <mat-form-field appearance="outline" class="mat-form-custom">
              <mat-label>Date Début</mat-label>
              <input matInput [matDatepicker]="picker"
                     formControlName="dateDebut">
              <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field appearance="outline" class="mat-form-custom">
              <mat-label>Date Fin</mat-label>
              <input matInput [matDatepicker]="picker2"
                     formControlName="dateFin">
              <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
              <mat-datepicker #picker2></mat-datepicker>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field appearance="outline" class="mat-form-custom">
              <mat-label>Prix max</mat-label>
              <input matInput placeholder="Prix max"
                     formControlName="prixMax"
                     min="0"
                     type="number">
            </mat-form-field>
          </td>
          <td>
            <mat-form-field appearance="outline" class="mat-form-custom">
              <mat-label>Type de logement</mat-label>
              <mat-select formControlName="typeLogement">
                <mat-option value="maison">Maison</mat-option>
                <mat-option value="appartement">Appartement</mat-option>
                <mat-option value="studio">Studio</mat-option>
              </mat-select>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field appearance="outline" class="mat-form-custom">
              <mat-label>Nombre chambres</mat-label>
              <input matInput placeholder="Nombres chambres"
                     formControlName="nbChambresMin"
                     type="number"
                     min="0"
                     max="20">
            </mat-form-field>
          </td>
          <td>
            <mat-form-field appearance="outline" class="mat-form-custom">
              <mat-label>Distance centre</mat-label>
              <input matInput placeholder="Distance centre"
                     formControlName="distanceMax"
                     type="number"
                     min="0">
            </mat-form-field>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <div>
      <button mat-stroked-button class="search-button">
        Rechercher
        <mat-icon>search</mat-icon>
      </button>
    </div>
  </div>
</form>
