.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.auth-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}
