<mat-card class="housing-card">
  <mat-card-header>
    <mat-card-title>{{ logement && logement.commune }}</mat-card-title>
    <mat-card-subtitle>{{ logement && logement.typeLogement }} de {{ logement && logement.surface }} m²</mat-card-subtitle>
    <div class="price">{{ logement && logement.prix }}€/nuit</div>
  </mat-card-header>
  <div class="image-container">
    <img mat-card-image [src]="logement && logement.imagePrincipale + '.jpg'" title="Afficher le logement" alt="Image principale" class="center-image" (click)="openHousingView()">
  </div>
  <mat-card-content class="binks">
    <p>{{ logement && logement.rue }}</p>
    <p>{{ logement && logement.nbChambres }} chambre{{logement && logement.nbChambres>1 ? 's' : ''}}, {{ logement && logement.nbCouchages }} couchage{{logement && logement.nbCouchages>1 ? 's' : ''}}</p>
    <div *ngIf="showDetails">
      <p>{{ logement && logement.description }}</p>
      <p>Situé à {{ logement && Math.floor(logement.distance) }} mètres du centre </p>
      <p>Surface : {{ logement && logement.surface }} m²</p>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <div class="button">
    <button mat-button (click)="toggleDetails()">{{ showDetails ? 'Moins de détails' : 'Plus de détails' }}</button>
    <button mat-stroked-button (click)="openRentDialog()">Louer</button>
    </div>
  </mat-card-actions>

</mat-card>
