
.image-container img {
  width: 100%;
  height: 100%;
}

.housing-card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 20%;
}

.button {
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 24px;
  margin-bottom: 50px;
  margin-top: 20px;
}

.color-button:hover {
  background-color: rgb(154, 192, 232)
;
  color: #fff;
}

.image-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imageView:hover {
  cursor: pointer;
}

.titleContainer {
  margin-top: 1%;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.title {
  font-size: 20px;
  font-weight: bold;
}

.price {
  font-size: 1.6em;
}

.info {
  margin-top: 3%;
}

.avis {
  margin-top: 3%;
  margin-bottom: 50px;
}

.note {
  font-size: 1.6em; /* Ajustez la taille de la police selon vos besoins */
  margin-top: 50px;
}

.comm-title {
  margin-left: 1%;
  font-size: 1.3em; /* Ajustez la taille de la police selon vos besoins */
}

.avis-title {
  font-size: 1.7em; /* Ajustez la taille de la police selon vos besoins */
}

.hrInfo {
  width: 10%;
  margin: 1% 0 1% 2%;
}

.hrView {
  width: 50%;
  margin-top: 2%;
  margin-bottom: 2%;
}

.infoAvis {
  display: flex;
  justify-content: space-between;
}
