<form>

  <div class="container-principal">
    <h2>Location de logement</h2>
    <h3 class="h3">Informations sur le logement :</h3>
    <div class="sous-conteneur1">
      <mat-form-field>
        <input matInput [matDatepicker]="pickerDepart" placeholder="Date de départ" [(ngModel)]="dateDepart"
               name="dateDepart">
        <mat-datepicker-toggle matSuffix [for]="pickerDepart"></mat-datepicker-toggle>
        <mat-datepicker #pickerDepart></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <input matInput [matDatepicker]="pickerArrivee" placeholder="Date d'arrivée" [(ngModel)]="dateArrivee"
               name="dateArrivee">
        <mat-datepicker-toggle matSuffix [for]="pickerArrivee"></mat-datepicker-toggle>
        <mat-datepicker #pickerArrivee></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="number" placeholder="Nombre de voyageurs" [(ngModel)]="nombreVoyageurs"
               name="nombreVoyageurs">
      </mat-form-field>
    </div>

    <hr class="hr">

    <h3 class="h3">Informations de paiement :</h3>
    <div class="sous-conteneur2">
      <mat-form-field>
        <input matInput placeholder="Nom" [(ngModel)]="nom" name="nom">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Prénom" [(ngModel)]="prenom" name="prenom">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Code" [(ngModel)]="code" name="code">
      </mat-form-field>

      <mat-form-field>
        <input matInput [matDatepicker]="pickerExpiration" placeholder="Date d'expiration" [(ngModel)]="expiration"
               name="dateExpiration">
        <mat-datepicker-toggle matSuffix [for]="pickerExpiration">
        </mat-datepicker-toggle>
        <mat-datepicker #pickerExpiration></mat-datepicker>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="CVV" [(ngModel)]="cvv" name="CVV">
      </mat-form-field>
    </div>


    <div class="button-container">
      <button mat-raised-button color="primary" (click)="confirmerLocation()">Confirmer</button>
      <button mat-raised-button color="warn" (click)="annulerLocation()">Annuler</button>
    </div>
  </div>
</form>
